<% if can? :manage, User %>
	<p>Visible only for superadmins and supervisors! </p>
<% end %>

<h1>hello there</h1>

		<% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
             <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> | 
            <%= link_to "Login With Github", user_github_omniauth_authorize_path, :class => 'navbar-link'  %>
          <% end %>