
<h3>Search Worlds</h3>  
    <%= form_tag(worlds_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>  

  <% @worlds.each do |world| %>
  <ul>
  <li>
 <h4>hello</h4>
  </li>
  </ul>
  <%end%>